<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">

        <div class="pt-2 pl-8">
            <input name='nombre_y_apellido' type="text" placeholder="Nombre y apellido del profesional">
            <input name='city' type="text" placeholder="Ciudad del profesional">
            <input name='email' type="text" placeholder="Ingrese su email">
            <input name='numero_phone' type="text" placeholder="Ingrese su numero">
            <input name='contrasenha' type="text" placeholder="Ingrese su contraseña">
            <input name='profesion' type="text" placeholder="Ingrese su profesion">
            <input name='descripcion' type="text" placeholder="Ingrese una breve descripcion sobre su tipo de negocio">
            <input name='descripcion_det' type="text" placeholder="Ingrese una descripcion detallada sobre su tipo de negocio">
            <input name='foto' type="file" >
        </div>
        <div class="pt-4 pl-8">
            <button type="submit" class="text-sky-600 font-bold py-2 px-4">
                Registrarse como profesional
            </button>
        </div>
    </form> 
</body>
</html>